<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hieult.datphongkhachsan" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".datphong"
            android:label="@string/title_activity_datphong" >
        </activity>
        <activity
            android:name="com.example.tn.asynctaskloadimagestolistview.xemthongtin"
            android:label="@string/title_activity_xemthongtin" >
        </activity>
        <activity
            android:name=".xemthongtin"
            android:label="@string/title_activity_xemthongtin" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
